---
- name: disable SELinux on reboot
  selinux:
    state: disabled

- name: Install firewalld package
  yum:
    name: firewalld
    state: present
    
- name: disable firewall service for labs
  service:
    name: firewalld
    state: stopped
    enabled: false

- name: Enable kernel module
  copy:
    src: files/module-k8s.conf
    dest: /etc/modules-load.d/k8s.conf
    owner: root
    group: root
    mode: '0644'
    
- name: Letting iptables see bridged traffic
  copy:
    src: files/network-k8s.conf
    dest: /etc/sysctl.d/k8s.conf
    owner: root
    group: root
    mode: '0644'

- name: Reload sysctl config for iptables
  command: sysctl --system

- name: Disable SWAP 
  shell: |
    swapoff -a

- name: Disable SWAP in fstab 
  lineinfile:
    path: /etc/fstab
    regexp: 'swap'
    state: absent

- name: Install dnf-utils
  dnf:
    name: yum-utils
    state: present
    update_cache: true

- name: Add Docker repository
  shell: dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo

- name: install containerd.io
  yum:
    name: containerd.io
    state: present
    update_cache: true

- name: Backup containerd config.toml
  command: mv /etc/containerd/config.toml /etc/containerd/config.toml.orig

- name: Generate default containerd config.toml
  shell: containerd config default > /etc/containerd/config.toml

- name: Modify containerd config.toml
  replace:
    path: /etc/containerd/config.toml
    regexp: '^(\s*SystemdCgroup =) false'
    replace: '\1 true'
    backup: yes

- name: start containerd
  service:
    name: containerd
    state: started
    enabled: true

- name: Letting iptables see bridged traffic
  copy:
    src: files/repo-k8s.repo
    dest: /etc/yum.repos.d/kubernetes.repo
    owner: root
    group: root
    mode: '0644'

- name: Update repository cache
  dnf:
    name: '*'
    state: latest

- name: Install kubelet, kubeadm
  dnf:
    name:
      - kubelet
      - kubeadm
    disable_excludes: kubernetes
    state: latest
    update_cache: true


- name: start kubelet
  service:
    name: kubelet
    enabled: yes
    state: started

- name: reboot ALL machines
  reboot:
